

<div class="modal">
    <div class="modal_content">
        <div class="modal_card">
            <div class="modal_header">
                <p>Informações adicionais</p>
                <div class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
            </div>
            <div class="modal_body">
                <div class="modal_body_data">
                    <div class="loader_base_modal loader_modal_active">
                        <div class="loader">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>